*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none !important;
}

@media (hover: none) {
  *, *::before, *::after {
    cursor: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 400ms ease, color 400ms ease;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
